[submodule "SimpleConsoleChatServer"]
	path = SimpleConsoleChatServer
	url = https://github.com/daniilpeshkov/SimpleConsoleChatServer.git
[submodule "SimpleConsoleChatClient"]
	path = SimpleConsoleChatClient
	url = https://github.com/daniilpeshkov/SimpleConsoleChatClient.git
